.dialogs {
    display:grid;
    grid-template-columns: 2fr 10fr;

}

.dialogsItems .dialog {
    padding: 20px;
}


.messages {
    padding: 10px;
}

.dialogsItems img {
    width: 24px;
    border-radius: 50%;
}